---
import Card from "~/components/Card.astro"
import Post from "~/components/Post.astro"
import BaseLayout from "~/layouts/BaseLayout.astro"

import { GET } from "./api/post.ts"

const response = await GET(Astro)
const posts = await response.json()
// const posts = [
//   {
//     title: "sb",
//     content: "1234",
//   },
//   {
//     title: "000",
//     content: "12345",
//   },
//   {
//     title: "00",
//     content: "12346",
//   },
//   {
//     title: "0",
//     content: "12347",
//   },
// ]
---

<BaseLayout>
  <Card>
    <main class="h-full">
      <div class="grid h-full grid-cols-[1fr_auto] gap-8">
        <div class="grid grid-rows-[1fr_auto] gap-4">
          <div class="flex items-end">
            <h1 class="text-6xl font-bold">欢迎来到UMi数据库主页</h1>
          </div>
          <div class="flex gap-8">
            <div class="min-h-32 min-w-32 rounded-full bg-slate-700"></div>
            <p>
              欢迎来到UMi的网上数据库，这里由UMi的正式成员参与贡献，旨在提供一个集中的高价值信息中介，也许你可以在这里找到很多普通互联网上很难遇到的东西！
            </p>
          </div>
        </div>
        <aside class="grid grid-rows-3 gap-4">
          <Card className="min-w-64 bg-slate-700" />
          <Card className="min-w-64 bg-slate-700" />
          <Card className="min-w-64 bg-slate-700" />
        </aside>
      </div>
      <!-- <section>
        <h2>UMi数据库</h2>
        <ul>
          {
            posts.map(function renderPost(post: any) {
              return (
                <li>
                  <Post content={post.title} />
                </li>
              )
            })
          }
        </ul>
      </section> -->
    </main>
  </Card>
</BaseLayout>
