---
import "~/styles/tailwind.css"

import Card from "~/components/Card.astro"
import ButtonLink from "~/components/ButtonLink.astro"
import ButtonLinkOutlined from "~/components/ButtonLinkOutlined.astro"
import SocialLink from "~/components/SocialLink.astro"
import NavLink from "~/components/NavLink.astro"
import SearchBar from "~/components/SearchBar.astro"
---

<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>UMi游研社</title>
  </head>
  <script>
    if ("paintWorklet" in CSS) {
      CSS.paintWorklet.addModule(
        "https://www.unpkg.com/css-houdini-squircle/squircle.min.js",
      )
    }
  </script>
  <body>
    <div class="mb-8 flex min-h-screen flex-row gap-4 p-4">
      <div class="min-w-64 flex-col items-center gap-4 p-8">
        <header class="mb-8 flex flex-col items-center gap-2">
          <figure class="w-32 text-center">
            <img
              class="mb-2 h-32 w-full rounded-full bg-slate-500"
              width="500"
              height="500"
              alt="Logo"
            />
            <figcaption class="text-2xl font-bold">UMi游研社</figcaption>
          </figure>
          <ul class="flex gap-4">
            <li>
              <SocialLink
                href="https://space.bilibili.com/3493083104676301"
                text="Bilibili"
                icon="bilibili"
              />
            </li>
            <li>
              <SocialLink href="#" text="QQ群" icon="qq" />
            </li>
          </ul>
        </header>

        <nav class="pl-8">
          <ul class="flex flex-col">
            <li class="font-bold">
              <NavLink href="#">UMi数据库</NavLink>
            </li>
            <li><NavLink href="#">游戏库</NavLink></li>
            <li><NavLink href="#">知识库</NavLink></li>
            <li><NavLink href="#">工具资源库</NavLink></li>
            <li><NavLink href="#">岁月史书</NavLink></li>
            <li class="font-bold"><NavLink href="#">UMi的游戏</NavLink></li>
            <li class="font-bold"><NavLink href="#">关于我们</NavLink></li>
          </ul>
        </nav>
      </div>
      <div class="grid w-full grid-rows-[auto_1fr] gap-4">
        <header>
          <Card className="flex">
            <SearchBar />
            <div class="ml-auto">
              <ButtonLink href="/login/">登录</ButtonLink>
              <ButtonLinkOutlined href="/signup/">注册</ButtonLinkOutlined>
            </div>
          </Card>
        </header>
        <slot />
      </div>
    </div>
    <footer class="px-16">
      <hr class="border-slate-400" />
      <div class="flex items-center py-8">
        <small>© 2024 UMi游研社</small>
        <ul class="ml-auto flex gap-4">
          <li>
            <SocialLink
              href="https://space.bilibili.com/3493083104676301"
              text="Bilibili"
              icon="bilibili"
            />
          </li>
          <li>
            <SocialLink href="#" text="QQ群" icon="qq" />
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
